@model IEnumerable<DataAccess.Database.Policy>

@{
	ViewData["Title"] = "Index";
}

<h2>Index</h2>


<div id="assigment-component">
	<p class="alert alert-info">
		Please search a user first and select it, after that you will see the policies the user already has or can add others too
	</p>
	<section class="clearfix">
		<div class="col-md-4">
			<label class="col-md-6">Search for user</label>
			<div class="col-md-6">
				<input class="form-control" v-model="userFilter" />
			</div>
		</div>
		<div class="col-md-8">
			<span class="col-md-11">
				<label>Selected user:</label>&nbsp;
				<template v-if="selectedUser">
					{{selectedUser.name}}
				</template>
				<template v-else="!selectedUser">
					N/A
				</template>
			</span>
			<span class="col-md-1">
				<template v-if="selectedUser">
					<span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
				</template>
				<template v-else="!selectedUser">
					<span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
				</template>
			</span>
		</div>
	</section>
	<br />
	<br />
	<section v-show="showSearchTable" class="panel panel-info">
		<div class="panel-heading">User list</div>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>User name</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="user in users">
						<td>{{user.name}}</td>
						<td>
							<button class="btn btn-default" v-on:click="makeSelectedUser(user)">Select</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	<section class="panel panel-primary">
		<div class="panel-heading">User assigned policies</div>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Policy</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody v-if="selectedUser">
					<tr v-for="(policyByUser, index) in selectedUser.policyByUser">
						<td>{{policyByUser.policy.name}}</td>
						<td>
							<button class="btn btn-default" v-on:click="removePolicyForSelectedUser(policyByUser, index)">Remove</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	<section class="panel panel-primary">
		<div class="panel-heading">All policies</div>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Policy</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="policy in policies">
						<td>{{policy.name}}</td>
						<td>
							<button :disabled="!isUserSelected" class="btn btn-default" v-on:click="assignPolicy(policy)">Assign policy</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</div>


@section Scripts {
	<script src="~/js/components/assigments.js"></script>
}
