@{
	ViewData["Title"] = "Home Page";
}

<div>
	<h1>Welcome to admin page!</h1>
	<p>Please use any of the links below to get started</p>
</div>
<div class="row">
	<ul>
		<li><a asp-area="" asp-controller="Account" asp-action="Index">Clients</a></li>
		<li><a asp-area="" asp-controller="Policies" asp-action="Index">Policies</a></li>
		<li><a asp-area="" asp-controller="RiskTypes" asp-action="Index">Risk Types</a></li>
		<li><a asp-area="" asp-controller="Assignments" asp-action="Index">Assignments</a></li>
	</ul>
</div>
