@{
	ViewData["Title"] = "Home Page";
}

<div>
	<h1>Welcome to admin page!</h1>
	<p>Please use any of the links below to get started</p>
</div>
<div class="row">
	<ul>
		<li><a asp-area="" asp-controller="Stores" asp-action="Index">Stores</a></li>
		<li><a asp-area="" asp-controller="Articles" asp-action="Index">Articles</a></li>
	</ul>
</div>
